<div class="sy-foot-socials">
    {%- include "components/foot-socials.html" -%}
    <script type="application/ld+json">
        {
          "@context": "https://schema.org",
          "@type": "SoftwareApplication",
          "name": "Sheet to Doc",
          "description": "Application that automatically generates documents from Word templates and Excel data.",
          "applicationCategory": "Document Conversion",
          "operatingSystem": "Web, Windows, Mac, Linux"
        }
    </script>

    <!-- Cloudflare Web Analytics --><script defer src='https://static.cloudflareinsights.com/beacon.min.js' data-cf-beacon='{"token": "21223ed11ede4f07b030f41d052210cc"}'></script><!-- End Cloudflare Web Analytics -->
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var links = document.querySelectorAll('a[href^="http"]');
            links.forEach(function (link) {
                link.setAttribute('target', '_blank');
                link.setAttribute('rel', 'origin');
            });
        });
    </script>
</div>